/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

/* Common */
.container {
    margin: 0 auto;
    width: 70%;
}

.wrapper {
    display: flex;
}

.gray {
    background-color: gray;
}

.white-t {
    color: white;
}

.btn-link {
    background-color: white;
    padding: 0.7rem;
    border-radius: 1.2rem;
}
/* Header */
header {
    background-color: #255ee9;
    padding: 1.5rem;
}

.row-header {
    background-color: #255ee9;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
}

.login {
    text-align: end;   
}

/* .login a {
    background-color: white;
    padding: 0.7rem;
    border-radius: 1.2rem;
} */
/* Main */

.hero {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat ;
    min-height: 580px;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.hero-text {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.hero-title {
    font-size: 3rem;
    padding: 1.5rem;
}

.hero-p {
    text-align: center;
    padding-bottom: 1rem;
    line-height: 2rem;
}

.open-brw {
    background-color: #23272a;
    margin-left: 1rem;
}

.bg-white {
    background-color: white;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.section-blue {
    background-color: #1e90ff;
    width: 60%;
    min-height: 400px;
}

.section-pink {
    background-color: #ffc0cb;
    width: 40%;
    min-height: 400px;
}

.bg-gray {
    background-color: gray;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.section-green {
    background-color: green;
    width: 100%;
    min-height: 700px;
}

/* Footer */
.bg-black {
    background-color: #23272a;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.f-row {
    width: calc(70% / 4);
    background-color: #1e90ff;
    min-height: 400px;
}

.f-row1 {
    width: 30%;
    background-color: #ffc0cb;
    min-height: 400px;
}

hr {
    background-color: gray;
    height: 2px;
}

.bg-black-s {
    background-color: #23272a;
    height: 100px;
    align-items: end;
    justify-content: center;
}

.bg-acqua {
    background-color: aquamarine;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    
}

button {
    background-color: aquamarine;
}

